fastapi
uvicorn[standard]
pandas
numpy
scikit-learn==1.7.2
joblib
xgboost
pydantic
python-multipart
langchain
langchain-community
langchain-core
langchain-ollama
sentence-transformers
faiss-cpu
pypdf
markdown
beautifulsoup4
wikipedia
duckduckgo-search
langgraph
pdfplumber
pyarrow